@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Nunito+Sans:ital,wght@0,800;1,300;1,600&family=Outfit:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  text-align: center;
background-color:hsl(218, 23%, 16%);
color: #fff;
font-size: 28px;

}

.advice{
  margin: auto;
  width:20%;
  margin-top: 15%;
  padding: 7.3%;
  background-color:hsl(217, 19%, 24%);
  border-radius:3%;
  position: relative;
}
.image{
  margin: auto -36%;
  display: block;
  
}
#mid{
  display: none;
}
h6{
  margin-top: -2rem;
  font-weight: none;
  color:hsl(150, 100%, 66%) ;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 1.5;
}
p{
  font-weight: 800;
  font-size: 28px;
}
button{
background-color:hsl(150, 100%, 66%);
padding:1.10rem;
border:none;
border-radius: 50%;
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom:-11%;
cursor: pointer;
}
button:hover{
  background-color: rgb(179, 240, 179);
  transition: 1ms ease-in-out;
}
p{
  padding:2%;
  font-size: 10px;
  color: hsl(150, 100%, 66%);
}

@media screen and (max-width:480px) {
  .image{
  display:none;

  }
  #mid{
    display: block;
    margin: auto -47%;

  }

  .advice{
    margin: auto;
    width:40%;
    margin-top: 15%;
    padding:19%;
    
    border-radius:3%;
  }
  button{
  left: 50%;
    transform: translateX(-50%);
    bottom:-5%;
    
    

  }
  p{
    padding:10%;
    
  }
  
  
}





